.cardbody{
    border: 4px solid black;
    padding: 1%;
    margin: 1%;
    font-size: 20px;
    border-radius: 2%;
    text-align: center;
}
button{
    background-color: blue;
    color: chartreuse;
    padding: 2%;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
s{
    color: red;
}
p{
    color: green;
}
img{
    border-style: none;
    border-radius:10% ;
    padding: 2%;
    
}

@media only screen and (min-width:320px) and (max-width:480px){
 .card{
     display: flex;
     flex-direction: column;
 }
 .cardbody{
     width: 95%;
     font-size: 30px;
     background-color: skyblue;
 }
 button{
     font-size: 30px;
 }
}
  @media only screen and (min-width:480px) and (max-width:768px) {
      .cardbody{
          display: flex;
          flex-direction: row;
      }
      
  }  
